<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div th:replace="Shared/header :: header"></div>
<section>
    <div class="ee-panel-green ee-panel-full-width">
        <div class="display-width-container my-3 my-md-5">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="threesteps-img-frame">
                        <img class="img-fluid" src="/images/informed.png" alt="A twig and leaves drawn within an illuminating lightbulb">
                    </div>
                    <h2 class="step-header">Improve Sustainability</h2>
                    <p class="text-center mb-5">Reduce Carbon emissions in your organisation across scope 1, 2 and 3. Better plan, roll out and track targets for energy efficiency, renewables, energy storage and behaviour awareness projects. </p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="threesteps-img-frame">
                        <img class="img-fluid" src="/images/icon_time.png" alt="Illustration of a stop watch">
                    </div>
                    <h2 class="step-header">Save Time</h2>
                    <p class="text-center mb-5">Focus on getting <span class="bold-text">RESULTS</span>, not gathering, cleaning, analysing and reporting data. Automate your carbon and energy data creation, collection and analysis using our powerful automation tools and expert support.</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="threesteps-img-frame">
                        <img class="img-fluid" src="/images/icon_wallet.png" alt="Illustration of a wallet, bulging with cash">
                    </div>
                    <h2 class="step-header">Reduce Costs</h2>
                    <p class="text-center mb-5">Find instant savings, track paybacks and bring transparency back to your energy/utility costs and sustainability projects. Eliminate penalty charges, contract issues and make better long term investment decisions.</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-secondary">See More Benefits</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="footer-dark">
    <footer layout:fragment="footer" xmlns:layout="http://www.w3.org/1999/xhtml">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Public Sector Agencies</h3>
                    <p>The experience has been very good, it's easy to use and the customer support has probably been one of the best I have dealt with.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">All Rights Reserved. &copy; 2022 @EMS</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>